*{
  margin: 0px;
  border: 1px dotted red;
}
 body{
   background-image: url('background.png');
   background-repeat: no-repeat;
 }
 .container{
   width: auto;
   height: 1599px;
   opacity: .5;
   /*background: white;*/
 }
 .header{
   width: 1917px;
   height: 276px;
   /*opacity: .5;*/
   background: blue;
   margin-left: 213px;
 }
#globe{
  width: 200px;
  height: 187px;
}
h1{

}
 /*.header_top{
   width: 1917px;
   height: 268px;
   opacity: .5;
   background: black;
   margin-left: 0px;
 }*/
